name: .NET Core

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Install dependencies
      run: dotnet restore
      working-directory: src/ConsoleDynamoDbRepository
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: src/ConsoleDynamoDbRepository
    - name: Restore and build test
      run: dotnet build
      working-directory: test/DynamoDbRepository.Tests
    - name: Test
      run: AWS_ACCESS_KEY_ID=abc AWS_SECRET_ACCESS_KEY=xyz dotnet test --no-restore --verbosity normal
      working-directory: test/DynamoDbRepository.Tests
